html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  background-color: #ffcdb2;
  color: #6d6875;
}
html body button {
  border: none;
  background-color: inherit;
}
html body a {
  color: inherit;
  text-decoration: none;
}

header {
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header #navBar {
  position: fixed;
  top: 10px;
  width: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header #navBar button {
  color: #b5838d;
  text-align: center;
  width: 100px;
  margin-bottom: 7px;
  font-size: 1em;
  font-weight: 800;
  line-height: 2em;
  border-radius: 3px;
}
header #navBar button:hover {
  cursor: pointer;
  background-color: #b5838d;
  color: #ffcdb2;
}

#main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 600px) 1fr;
}
#main section {
  padding: 30px 0px;
  margin-bottom: 10px;
}
#main section .title {
  padding-top: 70px;
  text-align: center;
  width: 90%;
  font-size: 2.5em;
}

@media (min-width: 641px) {
  #main {
    grid-template-columns: 1fr 1fr;
  }
}
#main #landing {
  margin: 0px;
  padding-top: 100px;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #landing #personalInfo {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main #landing #personalInfo .title {
  width: 100px;
  margin: 0px 70px 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #landing #personalInfo #photo {
  background: url("../../images/ab.jpeg") no-repeat;
  background-position: top;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
#main #landing #contactInfo {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#main #landing #contactInfo .contacts img {
  height: 40px;
  margin: 0px 15px;
}
#main #landing #contactInfo #resume {
  background-color: #6d6875;
  color: #ffcdb2;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #landing #contactInfo #resume:hover {
  background-color: #b5838d;
  color: #ffcdb2;
}
#main #landing #contactInfo #resume h2 {
  margin: 0px 15px;
}
#main #landing #about {
  width: 90%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffb4a2;
  color: #6d6875;
  box-shadow: 2px 2px 1px 1px #e5989b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #landing #about span {
  margin: 10px 0px;
  font-size: 1.5em;
  font-weight: 1000;
}
#main #landing #about p {
  width: 80%;
  font-size: 1em;
  font-weight: bolder;
}

@media (min-width: 641px) {
  #main #landing {
    grid-column: 1/3;
  }
  #main #landing #about {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  #main #landing #about {
    width: 60%;
  }
  #main #landing #about p {
    font-size: 1.25em;
  }
}
#main #skills {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 10px 0px;
  background-color: #6d6875;
  color: #ffcdb2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #skills .title {
  margin: 0px;
  padding: 0px;
}
#main #skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
}
#main #skills div #skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;
}
#main #skills div #skillsContainer .tools {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100px;
}
#main #skills div #skillsContainer .tools h4 {
  margin: 4px 0px;
  text-align: center;
}
#main #skills div #skillsContainer .tools img {
  width: 60px;
}

@media (min-width: 641px) {
  #main #skills {
    grid-column: 1/3;
  }
  #main #skills .title {
    margin: 0px 0px 10px 0px;
  }
  #main #skills div #skillsContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (min-width: 1025px) {
  #main #skills div #skillsContainer {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 1.2em;
    column-gap: 20px;
    row-gap: 20px;
  }
}
#main #projects {
  margin: 0px;
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #projects .title {
  margin: 0px;
  padding: 0px;
}
#main #projects .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#main #projects .project .projectImg {
  width: 90%;
  border-radius: 10px;
}
#main #projects .project .projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #projects .project .projectDescription .projectSummary {
  height: 250px;
  width: 90%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffb4a2;
  color: #6d6875;
  box-shadow: 2px 2px 1px 1px #e5989b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #projects .project .projectDescription .projectSummary span {
  font-weight: bolder;
  font-size: 1.2em;
}
#main #projects .project .projectDescription .projectSummary p {
  font-weight: bold;
  width: 80%;
}
#main #projects .project .projectDescription .projectSummary .builtWithImgs img {
  margin: 10px 0px;
  width: 30px;
}
#main #projects .project .projectDescription .projectLinks {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
#main #projects .project .projectDescription .projectLinks .liveCode {
  background-color: #6d6875;
  color: #ffcdb2;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #projects .project .projectDescription .projectLinks .liveCode:hover {
  background-color: #b5838d;
  color: #ffcdb2;
}
#main #projects .project .projectDescription .projectLinks .linkImg {
  width: 60px;
}
#main #projects #movieScoop {
  background-color: #6d6875;
  color: #ffcdb2;
}
#main #projects #movieScoop .projectSummary {
  background-color: #ffcdb2;
  color: #6d6875;
  box-shadow: 2px 2px 1px 1px #ffb4a2;
}
#main #projects #movieScoop .projectLinks .liveCode {
  background-color: #ffcdb2;
  color: #6d6875;
}
#main #projects #movieScoop .projectLinks .liveCode:hover {
  background-color: #b5838d;
  color: #ffcdb2;
}

@media (min-width: 641px) {
  #main #projects {
    grid-column: 1/3;
  }
  #main #projects .project .projectDescription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #main #projects .project .projectDescription .projectSummary {
    justify-self: center;
    height: 320px;
  }
  #main #projects .project .projectDescription .projectLinks {
    justify-self: center;
  }
  #main #projects #movieScoop .projectDescription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 100px;
  }
  #main #projects #movieScoop .projectDescription .projectSummary {
    justify-self: center;
    height: 285px;
  }
  #main #projects #movieScoop .projectDescription .projectLinks {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
  }
  #main #projects #gifactory .projectDescription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 100px;
  }
  #main #projects #gifactory .projectDescription .projectSummary {
    justify-self: center;
    height: 285px;
  }
  #main #projects #gifactory .projectDescription .projectLinks {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
  }
}
@media (min-width: 1025px) {
  #main #projects {
    grid-column: 1/3;
  }
  #main #projects .project .projectDescription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #main #projects .project .projectDescription .projectSummary p {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=output.css.map */
