@import './mixins';

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: $lightColor1;
    color: $lightColor5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr;
    justify-items: center;
    button {
      border: none;
      background-color: inherit;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
