// Light Color Palette
$lightColor1: #ffcdb2;
$lightColor2: #ffb4a2;
$lightColor3: #e5989b;
$lightColor4: #b5838d;
$lightColor5: #6d6875;

// Dark Color Palette
$darkColor1: #355070;
$darkColor2: #6d597a;
$darkColor3: #b56576;
$darkColor4: #e56b6f;
$darkColor5: #eaac8b;
